<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taom</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body style="margin:0; font-family:sans-serif; background:#f5f7fb;">
    <div style="padding:20px">
        <h1>Mini App работает ✅</h1>
        <p>ID: {{ tg_user_id }}</p>
        <p>Имя: {{ full_name }}</p>
    </div>

    <script>
        const tg = window.Telegram.WebApp;
        tg.expand();
    </script>
</body>
</html>
